# ===== Java / Spring Boot =====
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# Eclipse / IntelliJ IDEA
*.classpath
*.project
*.settings/
.idea/
*.iml

# Logs
*.log
logs/
*.out

# OS files
.DS_Store
Thumbs.db

# ===== Node / Angular =====
node_modules/
dist/
.tmp/
.angular/
coverage/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# ===== Env files =====
.env
*.env

